{
    "presets": [
      ["@babel/preset-env", {
        "loose": true,
        "targets": {
          "node": "8.11.3"
        }
      }],
      [
        "@babel/preset-react",
        {
          "throwIfNamespace": false,
          "runtime": "automatic"
        }
      ],
      "@babel/preset-typescript"
    ]
  }